.flickity-page-dots {
bottom: -22px;
}
/* dots are lines */
.flickity-page-dots .dot {
height: 4px;
width: 40px;
margin: 0;
border-radius: 0;
}

.carousel {
  background-color:  white;
}

.carousel img {
  display: block;
  height: 200px;
  margin-right: 10px;
}

@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 400px;
  }
}